<div id="childs" class="col-md-6">
    <form name="outerForm" class="tab-form-demo">
        <uib-tabset active="activeForm">
            <uib-tab index="0" heading="Reviews">
                <ng-form name="reviewsForm">
                    <div class="form-group">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Source</th>
                                    <th>Description</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="record in records">
                                    <td id="{{$index}}-source">{{record.source}}</td>
                                    <td id="{{$index}}-descrption">{{record.description}}</td>

                                    <td>
                                        <button id="{{$index}}-edit-btn" class="btn btn-default btn-sm" ui-sref="reviewEdit({reviewId: record.id})"><span class="glyphicon glyphicon-edit"></span> Edit</button>
                                        <button id="{{$index}}-delete-btn" class="btn btn-default btn-sm" ng-click="ctrl.deleteRecord(record)"><span class="glyphicon glyphicon-minus"></span> Remove</button>

                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </ng-form>
            </uib-tab>
            <uib-tab index="1" heading="Authors">
                Some Tab Content
            </uib-tab>

        </uib-tabset>
    </form>
</div>