<div class="col-md-6">
    <div class="container-fluid">

        <ui-select multiple ng-model="ctrl.selectedAuthors" ng-disabled="disabled" 
                   sortable="false" close-on-select="false">
            <ui-select-match placeholder="Select author...">{{$item.name}}</ui-select-match>
            <ui-select-choices repeat="author in allAuthors">
                <div ng-bind-html="author.name"></div>
            </ui-select-choices>
        </ui-select>

    </div>
    <hr>
    <hr>
    <div class="form-group col-md-6">

        <button type="button" class="btn btn-default btn-sm" ui-sref='bookAuthorsList'><span class="glyphicon glyphicon-circle-arrow-left"></span>Cancel</button>
        <button type="button" class="btn btn-default btn-sm" ng-click='ctrl.updateBookAuthors(ctrl.selectedAuthors)'><span class="glyphicon glyphicon-saved"></span>Save</button>   

    </div>

</div>