<div ng-messages="form.$error" multiple>
            <ng-message when="required">
                <alert type="warning">Please, Fill the required fields!</alert>
            </ng-message>
</div>
<div class="col-md-12 well">
    <form novalidate name="form" id="review-form" role="form" ng-submit="form.$valid && ctrl.saveRecord(currentRecord.id)">

     

        <fieldset>
            <input id="id" class="form-control" type="hidden" ng-model="currentRecord.id"/>
            <!-- Source -->
            <div class="form-group col-md-6" ng-class="{'has-success': form.name.$valid && form.name.$dirty, 'has-error': form.name.$invalid && (form.name.$dirty || form.$submitted)}" >
                <label for="source" class="col-md-2 control-label">Source</label>
                <div class="col-md-10">
                    <input id="source" name="source" class="form-control" type="text" ng-model="currentRecord.source" ng-init="currentRecord.source" required />
                </div>
            </div>
            <!-- Description -->
            <div class="form-group col-md-6" ng-class="{'has-success': form.name.$valid && form.name.$dirty, 'has-error': form.name.$invalid && (form.name.$dirty || form.$submitted)}" >
                <label for="description" class="col-md-2 control-label">Description</label>
                <div class="col-md-10">
                    <input id="name" name="description" class="form-control" type="text" ng-model="currentRecord.description" ng-init="currentRecord.description" required />
                </div>
            </div>
          
             </fieldset>
            <div class="form-group col-md-12">
                <button type="button" class="btn btn-default btn-sm" ui-sref='reviewsList'><span class="glyphicon glyphicon-circle-arrow-left"></span>Cancel</button>
                 <button type="submit" class="btn btn-info btn-sm"><span class="glyphicon glyphicon-saved"></span>Save</button>
            </div>
       
    </form>
</div>

