
<div class="col-md-6 well">
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="ctrl.closeAlert($index)" dismiss-on-timeout="5000">{{alert.msg}} </alert>
    <form novalidate name="form" id="author-form" role="form" ng-submit="form.$valid && ctrl.saveRecord(currentRecord.id)">
        
        <div ng-messages="form.$error">
            <div ng-message="required">Fill the required fields!</div>
        </div>
   
        <fieldset>
            
            <input id="id" class="form-control" type="hidden" ng-model="currentRecord.id"/>
            <!-- Name -->
            <div class="form-group col-md-12" ng-class="{'has-success': form.name.$valid && form.name.$dirty, 'has-error': form.name.$invalid && (form.name.$dirty || form.$submitted)}" >
                <label for="name" class="col-md-2 control-label">Name</label>
                <div class="col-md-10">
                    <input id="name" name="name" class="form-control" type="text" ng-model="currentRecord.name" ng-init="currentRecord.name" required />
                </div>
            </div>
            <!-- Birth Date -->
       
            <div class="form-group col-md-12" ng-class="{'has-success': form.name.$valid && form.name.$dirty, 'has-error': form.name.$invalid && (form.name.$dirty || form.$submitted)}" >

                <label for="BirthDate" class="col-md-2 control-label">Birth Date</label>
                <div class="col-md-10">
                    <p class="input-group">
                        <input  id="birthDate" name="birthDate"  type="text" class="form-control" uib-datepicker-popup ng-model="currentRecord.birthDate" is-open="popup.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="ctrl.open()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
            </div>
            <button type="button" ui-sref='authorsList'>Cancel</button>
            <button type="submit" >Save</button>    
        </fieldset>
    </form>
</div>
